.denhaag-embed-youtube {
	aspect-ratio: 16 / 9;
	border: 0;
	display: block;
	/* stylelint-disable-next-line property-disallowed-list */
	height: auto;
	/* stylelint-disable-next-line property-disallowed-list */
	width: 100%;
}

.denhaag-embed-youtube--portrait {
	aspect-ratio: 9 / 16;
}
