@import "~@gemeente-denhaag/ctalink/dist/index.css";


// @todo: Discuss with team if we should add this to the core (the .sr-only for nlds).
.denhaag-cta-link {
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
}

// @todo: Extend the existing excerpt class.
.denhaag-cta-link__excerpt {
  span:last-child {
    margin-inline-start: 0.5rem;
  }
}
