.editor-denhaag-columns {
	--ncb-columns: 1;
	box-shadow: 0 0 0 2px #e0e0e0;
	padding-inline: var(--ncb-grid-gap, 1rem);
	padding-block: var(--ncb-grid-gap, 1rem);

	&.has-no-layout {
		--ncb-grid-gap: 2.5rem;
	}

	@media (min-width: 768px) {
		&,
		&--single {
			--ncb-columns: 1;
		}

		&--fifty-fifty {
			--ncb-columns: 2;
		}

		&--one-third-two-third {
			--ncb-grid-columns: 1fr 2fr;

			.wp-block-denhaag-column:first-child {
				--denhaag-image-download-text-display-desktop: none;
			}
		}

		&--two-third-one-third {
			--ncb-grid-columns: 2fr 1fr;

			.wp-block-denhaag-column:last-child {
				--denhaag-image-download-text-display-desktop: none;
			}
		}

		&--one-third-one-third-one-third {
			--ncb-grid-columns: 1fr 1fr 1fr;

			--denhaag-image-download-text-display-desktop: none;
		}
	}

	&__layout-selection {
		align-items: center;
		display: flex;
		flex-direction: column;

		h2 {
			margin-block-start: 0;
		}

		svg {
			/* stylelint-disable-next-line property-disallowed-list */
			height: 32px;
			/* stylelint-disable-next-line property-disallowed-list */
			width: 32px;
		}

		.components-button.has-icon {
			block-size: auto;
		}
	}

	> .block-editor-inner-blocks > .block-editor-block-list__layout {
		display: grid;
		grid-template-columns: var(
			--ncb-grid-columns,
			repeat(var(--ncb-columns, 1), 1fr)
		);
		gap: var(--ncb-grid-gap, 1rem);
	}

	[data-type="ncb-denhaag/column"] {
		display: flex;
		flex-direction: column;
		flex: 1;
		margin-inline: 0;
		margin-block: 0;
		inline-size: 100%;

		.wp-block {
			margin-block-end: calc(var(--ncb-grid-gap, 1rem) / 2);
			margin-block-start: calc(var(--ncb-grid-gap, 1rem) / 2);
			margin-inline-start: calc(var(--ncb-grid-gap, 1rem) / 2);
			margin-inline-end: calc(var(--ncb-grid-gap, 1rem) / 2);
		}
	}
}
