save-exact=true
save-prefix=
# pnpm defaults:
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
# webpack loaders and webpack itself need hoisting out of @wordpress/scripts
public-hoist-pattern[]=*-loader
public-hoist-pattern[]=*webpack*
