.denhaag-accordion {
	border: 1px solid var(--denhaag-color-grey-3);
	padding-block: 1rem;
	padding-inline: 1rem;

	.wp-block[data-type="ncb-denhaag/accordion-item"] {
		margin-block-start: 0;
		margin-block-end: 0;

		.denhaag-accordion__container {
			border-block-start: 0;
			border-radius: 0;
		}

		&:first-of-type .denhaag-accordion__container {
			border-block-start: var(--denhaag-accordion-container-border);
			border-start-end-radius: 3px;
			border-start-start-radius: 3px;
		}

		&:last-child .denhaag-accordion__container {
			border-end-end-radius: 3px;
			border-end-start-radius: 3px;
		}
	}
}

.denhaag-accordion__title {
	font-size: var(--utrecht-heading-5-font-size);
	font-weight: var(--utrecht-heading-font-weight);
	margin-block-start: 0;
	margin-block-end: 0;
}
