.variation-select {
	min-width: 120px;
}

.utrecht-paragraph::selection {
	background: hsl(
		117 28% 87%
	); // HSL instead variable, CSS Variables won't load at this point.
}

.denhaag-theme a:not(.denhaag-link) {
	color: var(--denhaag-link-color) !important;
	cursor: var(--denhaag-link-cursor, pointer);
	font-family: inherit;
	font-weight: inherit;
	font-size: inherit;
	line-height: inherit;
	padding-inline-start: var(--denhaag-link-padding-inline-start, 0);
	padding-inline-end: var(--denhaag-link-padding-inline-end, 0);
	text-decoration: var(--denhaag-link-text-decoration);

	&:hover {
		color: var(--denhaag-link-hover-color);
		border-color: var(--denhaag-link-hover-color);
	}

	&:focus {
		color: var(--denhaag-link-focus-color);
		outline: var(--denhaag-link-focus-outline);
	}

	&[disabled="disabled"] {
		color: var(--denhaag-link-disabled-color);
	}

	&[target="_blank"]::after {
		background-color: currentcolor;
		clip-path: path(
			"M11 2C10.4477 2 10 1.55228 10 1C10 0.447715 10.4477 0 11 0H17C17.2652 0 17.5196 0.105357 17.7071 0.292894C17.8946 0.48043 18 0.734784 18 1L18 7C18 7.55229 17.5523 8 17 8C16.4477 8 16 7.55228 16 7L16 3.41422L6.70711 12.7071C6.31658 13.0976 5.68342 13.0976 5.29289 12.7071C4.90237 12.3166 4.90237 11.6834 5.29289 11.2929L14.5858 2H11ZM0 4C0 2.89543 0.895431 2 2 2H7C7.55228 2 8 2.44772 8 3C8 3.55228 7.55228 4 7 4H2V16H14V11C14 10.4477 14.4477 10 15 10C15.5523 10 16 10.4477 16 11V16C16 17.1046 15.1046 18 14 18H2C0.895431 18 0 17.1046 0 16V4Z"
		);
		content: "";
		display: inline-block;
		margin-left: var(--denhaag-link-icon-margin-start, 8px);
		vertical-align: middle;
		height: var(--denhaag-link-icon-size, 15px);
		width: var(--denhaag-link-icon-size, 15px);
	}
}
