.denhaag-featured-image--loading {
	align-content: center;
	background: #ededed;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	padding-inline: 2rem;
	padding-block: 2rem;
}
