[data-type="ncb-denhaag/description-list"] {
	padding-block: 1em;
}

.denhaag-description-list {
	display: block !important;

	.block-editor-block-list__block {
		color: var(--denhaag-description-list-color);
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		font-family: var(--denhaag-description-list-font-family);
		font-size: var(--denhaag-description-list-font-size);
		font-weight: var(--denhaag-description-list-font-weight);
		line-height: var(--denhaag-description-list-line-height);
		margin-block-end: 0;
		margin-block-start: 0;

		@media (min-width: 640px) {
			--denhaag-description-list-detail-padding-block-end: var(
				--denhaag-description-list-lg-detail-padding-block-end
			);
			--denhaag-description-list-detail-padding-block-start: var(
				--denhaag-description-list-lg-detail-padding-block-start
			);
			--denhaag-description-list-title-padding-block-end: var(
				--denhaag-description-list-lg-title-padding-block-end
			);
			--denhaag-description-list-title-padding-block-start: var(
				--denhaag-description-list-lg-title-padding-block-start
			);
			--denhaag-description-list-padding-inline-end: var(
				--denhaag-description-list-lg-padding-inline-end
			);
			--denhaag-description-list-padding-inline-start: var(
				--denhaag-description-list-lg-padding-inline-start
			);

			grid-template-columns: 1fr 2fr;
		}
	}

	.block-list-appender {
		padding-inline: 1em;
		padding-block: 1em;
		position: static;

		button {
			margin-inline: auto;
		}
	}

	@media (min-width: 640px) {
		&__title {
			border-block-end: 1px solid
				var(--denhaag-description-list-border-color);
		}
	}
}

.denhaag-description-list__detail {
	margin-block-end: 0;
}
